/* Resetando margens e paddings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
}

header h1 {
    margin-bottom: 10px;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

section {
    padding: 20px;
    margin: 20px;
    background-color: white;
    border-radius: 8px;
}

section h2 {
    margin-bottom: 15px;
    color: #333;
}

ul {
    list-style: disc;
    margin-left: 20px;
}

.galeria-imagens {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.galeria-imagens img {
    width: 30%;
    margin: 10px;
    border-radius: 8px;
    transition: transform 0.3s;
}

.galeria-imagens img:hover {
    transform: scale(1.1);
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: white;
    margin-top: 20px;
}
